{
    "openapi": "3.0.0",
    "info": {
        "title": "steamwebapi.com - Third-Party Steam Market API Documentation",
        "description": "steamwebapi.com \u2013 The ultimate Steam Market API for CS2, TF2, Dota 2, and more. Access both free and paid Steam API/Web API functionalities for retrieving Inventory, Profile data, Market Prices, Item History, and detailed information on CS2, Rust, Dota, and Team Fortress items. Enjoy seamless data retrieval without concerns about Steam rate limits or account blocks. Get quick and easy access to the most popular Steam game items, profiles, and our Trade functionalities to streamline your experience.",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://www.steamwebapi.com",
            "description": "Production Server"
        }
    ],
    "paths": {
        "/account/me": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "\ud83d\udcca Retrieve Your Account and Usage Statistics",
                "description": "Baseurl: https://www.steamwebapi.com/account/me\n\n    \ud83d\udcac **Retrieve details about your account and usage statistics.**\n    - This endpoint provides comprehensive details about your account, including usage statistics and activity records.\n    - **Usage Tracking:** The endpoint tracks your API usage and provides insights into your activity.\n    - **Rate Limiting:** The request generates a usage record each time it is called.\n    - **Real-time Data:** Get up-to-date information about your account\u2019s API usage in different time periods (minute, hour, day, week, month).\n\n    \ud83d\udee0\ufe0f **Important Details:**\n    - **Usage Details**: Track your API usage over the last minute, hour, day, week, and month.\n    - **Subscription Info**: Get information about your subscription status and duration.\n\n    \ud83c\udf10 **How to Use:**\n    - Provide your **API key** in the request to retrieve the data. The API will respond with a breakdown of your usage, subscription status, and the latest status of the Steam Web API.",
                "operationId": "get_account_me",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Retrieve it from your Dashboard (top-right corner).",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved account and usage statistics."
                    },
                    "400": {
                        "description": "Bad request or missing API key."
                    },
                    "401": {
                        "description": "Unauthorized access due to invalid or missing API key."
                    }
                }
            }
        },
        "/steam/api/items": {
            "get": {
                "tags": [
                    "Items"
                ],
                "summary": "\ud83c\udfaf Retrieve All Items with Prices - The Complete Steam Market API",
                "description": "Baseurl: https://www.steamwebapi.com/steam/api/items?key=YOUR_API_KEY&game=cs2\n\n\ud83d\udcac **What this endpoint does:**\n- Retrieves comprehensive item data for Steam games (CS2, Rust, Dota 2, TF2).\n- Returns detailed pricing information from Steam Market and third-party markets.\n- Provides metadata including rarity, wear, StatTrak status, and more.\n- Supports advanced filtering, sorting, and pagination.\n\n\ud83d\udee0\ufe0f **Features:**\n- **Multi-source pricing**: Steam prices, real market prices, buy orders, and historical data.\n- **Advanced filters**: Filter by price range, wear, item type, group, and more.\n- **Flexible sorting**: Sort by price, popularity, win/loss ratio, or randomly.\n- **Field selection**: Use `select` parameter to return only specific fields.\n- **Multiple formats**: Export as JSON, CSV, XML, or database statements.\n- **Currency conversion**: Convert prices to EUR, TRY, RUB, and more.\n\n\ud83c\udf10 **How to use:**\n- Basic call: `GET /steam/api/items?key=YOUR_KEY&game=cs2`\n- Search items: `GET /steam/api/items?key=YOUR_KEY&search=AK-47`\n- Filter by price: `GET /steam/api/items?key=YOUR_KEY&price_min=10&price_max=100`\n- Filter by type: `GET /steam/api/items?key=YOUR_KEY&item_group=knife&wear=fn`\n- Sort by popularity: `GET /steam/api/items?key=YOUR_KEY&sort_by=soldZa`\n- Select fields: `GET /steam/api/items?key=YOUR_KEY&select=markethashname,pricelatest,image`\n- Export as CSV: `GET /steam/api/items?key=YOUR_KEY&format=csv`\n\n\ud83d\udcca **Response fields explained:**\n- `pricelatest`: Current lowest Steam Market listing price.\n- `pricelatestsell`: Price of the most recent Steam sale.\n- `pricereal`: Current lowest third-party market price.\n- `pricemix`: Lowest price across all sources (Steam + markets).\n- `buyorderprice`: Highest Steam buy order price.\n- `sold24h/7d/30d/90d`: Number of items sold in the respective time period.\n- `points`: Market cap score (price \u00d7 volume indicator).\n- `winloss`: Price comparison Steam vs. real markets (positive = Steam cheaper).\n\n\u26a0\ufe0f **Performance tips:**\n- Use `max` parameter to limit results (default: 50000).\n- Apply filters to narrow down results.\n- Use `select` to return only needed fields.\n- Use `production=1` in production to remove info fields.",
                "operationId": "get_api_items",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Required for all requests.\nGet your API key from Dashboard \u2192 Top-right corner \u2192 API Key section.",
                        "required": true
                    },
                    {
                        "name": "game",
                        "in": "query",
                        "description": "Game identifier. Each game has different item properties and markets.\n\n**Supported games:**\n- `cs2` (default): Counter-Strike 2 - Full support including real market prices\n- `rust`: Rust - Basic Steam market data\n- `dota`: Dota 2 - Basic Steam market data\n- `tf2`: Team Fortress 2 - Basic Steam market data",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "cs2",
                            "enum": [
                                "cs2",
                                "rust",
                                "dota",
                                "tf2"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination. Use with `max` parameter.\n- Page 1 returns items 1-50000 (with default max)\n- Page 2 returns items 50001-100000, etc.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "description": "Maximum number of items per page. Lower values improve response time.\n\n**Recommendations:**\n- Use 100-1000 for web applications\n- Use higher values for data exports\n- Maximum: 50000 items per request",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50000,
                            "minimum": 1
                        },
                        "example": 100
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sorting order for results.\n\n\u26a0\ufe0f **Performance Note:** Sorting can significantly slow down responses for large result sets. Use filters (`price_min`, `item_group`, etc.) to reduce data before sorting, or use the default `priceAz` for best performance.\n\n**Price-based sorting:**\n- `priceAz` (default): Steam listing price ascending (cheapest first) - *Fastest*\n- `priceZa`: Steam listing price descending (most expensive first)\n- `priceRealAz`: Third-party market price ascending\n- `priceRealZa`: Third-party market price descending\n\n**Win/Loss sorting** (Steam vs. Market price comparison):\n- `winner`: Best deals first (Steam cheaper than markets)\n- `loser`: Worst deals first (Steam more expensive)\n- `winLossAz`: Win/loss ascending\n- `winLossZa`: Win/loss descending\n- `winnerRandom`: Winners first, randomized within group\n- `loserRandom`: Losers first, randomized within group\n\n**Volume-based sorting:**\n- `soldAz`: Least sold items first\n- `soldZa`: Most sold items first (popular items)\n- `pointsAz`: Lowest market cap first\n- `pointsZa`: Highest market cap first\n\n**Other:**\n- `name`: Alphabetical by market hash name\n- `random`: Random order (useful for discovery) - *Slowest*",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "priceAz",
                                "priceZa",
                                "priceRealAz",
                                "priceRealZa",
                                "winner",
                                "loser",
                                "winnerRandom",
                                "loserRandom",
                                "winLossAz",
                                "winLossZa",
                                "soldAz",
                                "soldZa",
                                "name",
                                "pointsAz",
                                "pointsZa",
                                "random"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search items by name. Minimum 3 characters required.\n\n**Examples:**\n- `search=AK-47` - Find all AK-47 skins\n- `search=Doppler` - Find all Doppler items (knives, gloves)\n- `search=Redline` - Find Redline skins across all weapons\n\nSearch is case-insensitive and matches partial names.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "minLength": 3
                        }
                    },
                    {
                        "name": "price_min",
                        "in": "query",
                        "description": "Minimum Steam Market listing price in USD.\n\n- Items below this price will be excluded\n- Use with `price_max` to define a price range\n- Prices are in the base currency (USD) unless `currency` is specified",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        }
                    },
                    {
                        "name": "price_max",
                        "in": "query",
                        "description": "Maximum Steam Market listing price in USD.\n\n- Items above this price will be excluded\n- Steam Market maximum is ~$3000 (varies by region)\n- Use with `price_min` to define a price range",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "maximum": 50000
                        }
                    },
                    {
                        "name": "price_real_min",
                        "in": "query",
                        "description": "Minimum third-party market price in USD.\n\n- Filters by the lowest available price across all third-party markets\n- Useful for finding arbitrage opportunities",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        }
                    },
                    {
                        "name": "price_real_max",
                        "in": "query",
                        "description": "Maximum third-party market price in USD.\n\n- Filters by the lowest available price across all third-party markets\n- High-value items may exceed Steam Market limits ($3000)",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "maximum": 1000000
                        }
                    },
                    {
                        "name": "item_group",
                        "in": "query",
                        "description": "Filter by item category/group.\n\n**CS2 groups:**\n- `knife` - All knives (Karambit, Butterfly, etc.)\n- `gloves` - All gloves\n- `pistol` - Pistols (Glock, USP-S, Desert Eagle, etc.)\n- `rifle` - Rifles (AK-47, M4A1-S, etc.)\n- `sniper rifle` - Sniper rifles (AWP, SSG 08, etc.)\n- `smg` - SMGs (MP9, MAC-10, etc.)\n- `shotgun` - Shotguns\n- `machinegun` - Machine guns (M249, Negev)\n- `case` - Weapon cases\n- `capsule` - Sticker capsules\n- `collection` - Collections\n\nMultiple groups: `knife,gloves` (comma-separated)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "item_type",
                        "in": "query",
                        "description": "Filter by specific weapon type within a group.\n\n**Examples:**\n- `ak-47` - Only AK-47 skins\n- `awp` - Only AWP skins\n- `karambit` - Only Karambit knives\n- `m4a1-s` - Only M4A1-S skins\n\nUse `/steam/api/info/items?type=types` to get all available types.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "item_name",
                        "in": "query",
                        "description": "Filter by skin name (without weapon type).\n\n**Examples:**\n- `redline` - All Redline skins (AK-47, AWP, etc.)\n- `doppler` - All Doppler items\n- `asiimov` - All Asiimov skins\n- `fade` - All Fade items\n\nUse `/steam/api/info/items?type=items` to get all available names.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "wear",
                        "in": "query",
                        "description": "Filter by item condition/wear level.\n\n**Wear levels:**\n- `fn` - Factory New (0.00 - 0.07 float)\n- `mw` - Minimal Wear (0.07 - 0.15 float)\n- `ft` - Field-Tested (0.15 - 0.38 float)\n- `ww` - Well-Worn (0.38 - 0.45 float)\n- `bs` - Battle-Scarred (0.45 - 1.00 float)\n\nMultiple wears: `fn,mw` (comma-separated)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "fn",
                                "mw",
                                "ft",
                                "ww",
                                "bs"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Select specific fields to return. Dramatically reduces response size.\n\n**Example:** `select=markethashname,pricelatest,image`\n\n**Popular field selections:**\n- Basic: `markethashname,pricelatest,image`\n- Trading: `markethashname,pricelatest,pricereal,winloss`\n- Full price: `markethashname,pricelatest,pricereal,buyorderprice,sold24h`\n\nField names must match exact response field names (lowercase).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "Convert prices to specified currency.\n\n**Supported currencies:**\n- `USD` (default), `EUR`, `GBP`, `TRY`, `RUB`, `CNY`, `JPY`, `BRL`, `PLN`, `CAD`, `AUD`\n\nConversion rates are updated hourly from Steam.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "production",
                        "in": "query",
                        "description": "Set to `1` when using in production environment.\n\n**Benefits:**\n- Removes info/hint fields from response\n- Cleaner, smaller response payload\n- Will be required in future API versions\n\n**Note:** If not set, you may see deprecation warnings.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Output format for the response.\n\n**JSON formats:**\n- `json` (default): Standard JSON\n- `gzip`: Gzip-compressed JSON\n- `zip`: Zip-compressed JSON\n- `ndjson`: Newline-delimited JSON (streaming)\n\n**Export formats:**\n- `csv`: Comma-separated values\n- `xml`: XML format\n- `html`: HTML table\n\n**Database formats:**\n- `mysql`: MySQL INSERT statements\n- `mysql_with_table`: MySQL with CREATE TABLE\n- `pgsql`: PostgreSQL INSERT statements\n- `pgsql_with_table`: PostgreSQL with CREATE TABLE\n- `mongo`: MongoDB insert documents",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "gzip",
                                "zip",
                                "csv",
                                "xml",
                                "html",
                                "ndjson",
                                "mysql",
                                "mysql_with_table",
                                "pgsql",
                                "pgsql_with_table",
                                "mongo"
                            ]
                        }
                    },
                    {
                        "name": "pretty",
                        "in": "query",
                        "description": "Pretty-print JSON output (indented, human-readable).\n\n- `0` (default): Minified JSON (smaller size)\n- `1`: Formatted JSON (easier to read)\n\nOnly applies to json, gzip, and zip formats.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    },
                    {
                        "name": "markets",
                        "in": "query",
                        "description": "Filter third-party market prices to specific markets only.\n\n**Available markets:**\n- `skinbaron` - Skinbaron.de\n- `skinport` - Skinport.com\n- `dmarket` - DMarket.com\n- `buff` - Buff163.com\n- `waxpeer` - Waxpeer.com\n- `bitskins` - BitSkins.com\n- `csgotm` - CS.Money / CSGOTradeMoney\n- `haloskins` - HaloSkins\n- `tradeit` - Tradeit.gg\n- `skinbid` - Skinbid.com\n\n**Example:** `markets=skinbaron,buff,skinport`\n\nWhen specified, `pricereal` will be the lowest price among selected markets only.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_preview_items",
                        "in": "query",
                        "description": "Append newly discovered items that are not yet fully indexed.\n\n- `0` or `false` (default): Only return fully indexed items\n- `1` or `true`: Append preview items at the end\n\nPreview items have:\n- `preview: true` flag\n- Limited data (no prices, basic metadata only)\n- 24-hour cache\n\nUseful for discovering new items before they appear in main listings.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful, and items are returned.",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": [
                                    {
                                        "id": "4bb7c73c",
                                        "markethashname": "\u2605 StatTrak\u2122 Karambit | Doppler (Factory New)",
                                        "normalizedname": "stattrak karambit doppler factory new",
                                        "marketname": "\u2605 StatTrak\u2122 Karambit | Doppler (Factory New)",
                                        "slug": "stattraktm-karambit-doppler-factory-new",
                                        "count": 1,
                                        "classid": "728815617",
                                        "instanceid": "188530170",
                                        "groupid": "41fc88fa41639b21f83e5cd277f2ea17",
                                        "infoprice": "priceXXXX = Steam Prices read docs https://www.steamwebapi.com/api/doc",
                                        "pricelatest": 1081,
                                        "pricelatestsell": 1372.29,
                                        "pricelatestsell24h": 1594.68,
                                        "pricelatestsell7d": 1594.68,
                                        "pricelatestsell30d": 1594.68,
                                        "pricelatestsell90d": 1800,
                                        "lateststeamsellat": {
                                            "date": "2025-10-24 00:00:00.000000",
                                            "timezone_type": 3,
                                            "timezone": "UTC"
                                        },
                                        "latest10steamsales": [
                                            [
                                                "2025-10-24",
                                                1372.29,
                                                5
                                            ],
                                            [
                                                "2025-10-23",
                                                1594.68,
                                                17
                                            ],
                                            [
                                                "2025-08-31",
                                                1748.97,
                                                1
                                            ],
                                            [
                                                "2025-08-11",
                                                1725,
                                                1
                                            ],
                                            [
                                                "2025-08-02",
                                                1800,
                                                1
                                            ],
                                            [
                                                "2025-04-28",
                                                1800,
                                                1
                                            ],
                                            [
                                                "2025-02-01",
                                                1866.58,
                                                1
                                            ],
                                            [
                                                "2025-01-11",
                                                1800,
                                                1
                                            ],
                                            [
                                                "2025-01-07",
                                                1800,
                                                1
                                            ],
                                            [
                                                "2024-12-27",
                                                1800,
                                                1
                                            ]
                                        ],
                                        "pricemedian": 1372.29,
                                        "pricemedian24h": 1352.56,
                                        "pricemedian7d": 1352.56,
                                        "pricemedian30d": 1352.56,
                                        "pricemedian90d": 1725,
                                        "priceavg": 1372.29,
                                        "priceavg24h": 1318.18,
                                        "priceavg7d": 1318.18,
                                        "priceavg30d": 1318.18,
                                        "priceavg90d": 1588.88,
                                        "pricesafe": 1284.93,
                                        "pricemin": 1372.29,
                                        "pricemax": 1800,
                                        "pricemix": 1081,
                                        "buyorderprice": 900.06,
                                        "buyordermedian": 850,
                                        "buyorderavg": 859.996,
                                        "buyordervolume": 4261,
                                        "offervolume": 9,
                                        "soldtoday": 5,
                                        "sold24h": 17,
                                        "sold7d": 22,
                                        "sold30d": 22,
                                        "sold90d": 25,
                                        "soldtotal": 3957,
                                        "hourstosold": 2,
                                        "points": 22325,
                                        "priceupdatedat": {
                                            "date": "2025-10-24 12:37:31.000000",
                                            "timezone_type": 3,
                                            "timezone": "UTC"
                                        },
                                        "nametag": null,
                                        "bordercolor": "99ccff",
                                        "color": "eb4b4b",
                                        "quality": "StatTrak\u2122",
                                        "rarity": "Covert",
                                        "image": "https://community.akamai.steamstatic.com/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpovbSsLQJf2PLacDBA5ciJlY20k_jkI7fUhFRB4MRij7j--YXygED6qUI9am_1IteTIwQ6M13S_gfoyefpgpXqtZSbyCdivnYq5ynfyUPhhgYMMLJI3Aal3g",
                                        "marketable": true,
                                        "tradable": true,
                                        "unstable": false,
                                        "unstablereason": null,
                                        "tags": [
                                            {
                                                "category": "Type",
                                                "internal_name": "CSGO_Type_Knife",
                                                "localized_category_name": "Type",
                                                "localized_tag_name": "Knife"
                                            },
                                            {
                                                "category": "Weapon",
                                                "internal_name": "weapon_knife_karambit",
                                                "localized_category_name": "Weapon",
                                                "localized_tag_name": "Karambit"
                                            },
                                            {
                                                "category": "Quality",
                                                "internal_name": "unusual",
                                                "localized_category_name": "Category",
                                                "localized_tag_name": "\u2605",
                                                "color": "8650AC"
                                            },
                                            {
                                                "category": "Quality",
                                                "internal_name": "unusual_strange",
                                                "localized_category_name": "Category",
                                                "localized_tag_name": "\u2605 StatTrak\u2122",
                                                "color": "8650AC"
                                            },
                                            {
                                                "category": "Quality",
                                                "internal_name": "strange",
                                                "localized_category_name": "Category",
                                                "localized_tag_name": "StatTrak\u2122",
                                                "color": "CF6A32"
                                            },
                                            {
                                                "category": "Rarity",
                                                "internal_name": "Rarity_Ancient_Weapon",
                                                "localized_category_name": "Quality",
                                                "localized_tag_name": "Covert",
                                                "color": "eb4b4b"
                                            },
                                            {
                                                "category": "Exterior",
                                                "internal_name": "WearCategory0",
                                                "localized_category_name": "Exterior",
                                                "localized_tag_name": "Factory New"
                                            }
                                        ],
                                        "descriptions": [
                                            {
                                                "type": "html",
                                                "value": "<span style='color:#99ccff;'>This item features StatTrak\u2122 technology, which tracks certain statistics when equipped by its owner.</span><br/><br/><span style='color:#cf6a32;'>This item tracks Confirmed Kills.</span><br/><br/> With its curved blade mimicking a tiger's claw, the karambit was developed as part of the southeast Asian martial discipline of silat. The knife is typically used with a reverse grip, with the finger ring on the index finger. It has been painted with black and silver metallic paints using a marbleizing medium, then candy coated.\\n\\n<i>Getting lost in its color can prove fatal</i>",
                                                "name": "description"
                                            }
                                        ],
                                        "createdat": {
                                            "date": "2024-11-06 01:45:38.000000",
                                            "timezone_type": 3,
                                            "timezone": "UTC"
                                        },
                                        "firstseentime": 1421625600,
                                        "firstseenat": "2015-01-19T00:00:00+00:00",
                                        "steamurl": "https://steamcommunity.com/market/listings/730/%E2%98%85%20StatTrak%E2%84%A2%20Karambit%20%7C%20Doppler%20%28Factory%20New%29",
                                        "markettradablerestriction": 7,
                                        "tag1": "Knife",
                                        "tag2": "Karambit",
                                        "tag3": "Doppler",
                                        "tag4": "StatTrak\u2122",
                                        "tag5": "fn",
                                        "tag6": "Covert",
                                        "tag7": null,
                                        "infopricereal": "pricerealXXXX = Third Market Prices read docs https://www.steamwebapi.com/api/doc",
                                        "pricereal": null,
                                        "pricereal24h": 2524.22,
                                        "pricereal7d": 2519.41,
                                        "pricereal30d": 2599,
                                        "pricereal90d": 2432.19,
                                        "pricerealmedian": 2486.5,
                                        "winloss": -1369,
                                        "winlossprice": -55.89,
                                        "prices": [
                                            {
                                                "market": "skinbaron",
                                                "price": 2524.22,
                                                "quantity": 3
                                            },
                                            {
                                                "market": "buff",
                                                "price": 2450,
                                                "quantity": 12
                                            },
                                            {
                                                "market": "skinport",
                                                "price": 2599,
                                                "quantity": 5
                                            }
                                        ],
                                        "groupname": "Karambit | Doppler",
                                        "wear": "fn",
                                        "isstar": true,
                                        "isstattrak": true,
                                        "issouvenir": false,
                                        "itemgroup": "knife",
                                        "itemname": "doppler",
                                        "itemtype": "karambit",
                                        "minfloat": 0,
                                        "maxfloat": 0.08,
                                        "defindex": 507,
                                        "paintindex": 418,
                                        "variants": [
                                            {
                                                "phase": "Black Pearl",
                                                "paintindex": 417,
                                                "image": "https://community.akamai.steamstatic.com/economy/image/..."
                                            },
                                            {
                                                "phase": "Phase 1",
                                                "paintindex": 418,
                                                "image": "https://community.akamai.steamstatic.com/economy/image/..."
                                            },
                                            {
                                                "phase": "Phase 2",
                                                "paintindex": 419,
                                                "image": "https://community.akamai.steamstatic.com/economy/image/..."
                                            },
                                            {
                                                "phase": "Phase 3",
                                                "paintindex": 420,
                                                "image": "https://community.akamai.steamstatic.com/economy/image/..."
                                            },
                                            {
                                                "phase": "Phase 4",
                                                "paintindex": 421,
                                                "image": "https://community.akamai.steamstatic.com/economy/image/..."
                                            },
                                            {
                                                "phase": "Ruby",
                                                "paintindex": 415,
                                                "image": "https://community.akamai.steamstatic.com/economy/image/..."
                                            },
                                            {
                                                "phase": "Sapphire",
                                                "paintindex": 416,
                                                "image": "https://community.akamai.steamstatic.com/economy/image/..."
                                            }
                                        ],
                                        "realmarketsquantity": 20
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "error": "Invalid parameter value"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Game not found. Supported games: cs2, rust, dota, tf2.",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "error": "Game not found"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded. Please wait before making more requests."
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "error": "An unexpected error occurred"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/steam/api/info/items": {
            "get": {
                "tags": [
                    "Info"
                ],
                "summary": "\ud83d\udccb Get Item Metadata - Groups, Types, and Names",
                "description": "Baseurl: https://www.steamwebapi.com/steam/api/info/items?key=YOUR_API_KEY&game=cs2\n\n\ud83d\udcac **What this endpoint does:**\n- Retrieves structured item metadata for a specific game.\n- Returns all available item groups, types, and names.\n- Provides hierarchical data for building item selectors and filters.\n\n\ud83d\udee0\ufe0f **Features:**\n- **Structured mode** (default): Hierarchical group \u2192 type \u2192 name structure.\n- **Groups mode**: List of all item categories (knife, rifle, pistol, etc.).\n- **Types mode**: List of all weapon types (ak-47, awp, karambit, etc.).\n- **Items mode**: List of all skin names (doppler, fade, asiimov, etc.).\n- 24-hour caching for optimal performance.\n\n\ud83c\udf10 **How to use:**\n- Get structured data: `GET /steam/api/info/items?key=YOUR_KEY`\n- Get all groups: `GET /steam/api/info/items?key=YOUR_KEY&type=groups`\n- Get all types: `GET /steam/api/info/items?key=YOUR_KEY&type=types`\n- Get all names: `GET /steam/api/info/items?key=YOUR_KEY&type=items`\n- Force refresh: `GET /steam/api/info/items?key=YOUR_KEY&no_cache=1`\n\n\ud83d\udcca **Use Cases:**\n- Build dynamic item filters for your application.\n- Create autocomplete search functionality.\n- Generate item category navigation menus.",
                "operationId": "get_api_items_info",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Required for all requests.",
                        "required": true
                    },
                    {
                        "name": "game",
                        "in": "query",
                        "description": "Game identifier.\n\n**Supported games:**\n- `cs2` (default): Counter-Strike 2\n- `rust`: Rust\n- `dota`: Dota 2\n- `tf2`: Team Fortress 2",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "cs2",
                            "enum": [
                                "cs2",
                                "rust",
                                "dota",
                                "tf2"
                            ]
                        },
                        "example": "cs2"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of data to return.\n\n**Options:**\n- `structed` (default): Hierarchical structure (group \u2192 type \u2192 items)\n- `groups`: Flat list of item groups (knife, rifle, etc.)\n- `types`: Flat list of weapon types (ak-47, awp, etc.)\n- `items`: Flat list of skin names (doppler, fade, etc.)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "structed",
                            "enum": [
                                "structed",
                                "groups",
                                "types",
                                "items"
                            ]
                        },
                        "example": "structed"
                    },
                    {
                        "name": "no_cache",
                        "in": "query",
                        "description": "Bypass 24-hour cache and fetch fresh data.\n\n- Omit or `0`: Use cached data (recommended)\n- `1`: Force fresh data fetch\n\n**Note:** Fresh fetch is slower, use only when necessary.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1"
                            ]
                        },
                        "example": "0"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Output format. See /steam/api/items for all format options.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "json"
                        }
                    },
                    {
                        "name": "pretty",
                        "in": "query",
                        "description": "Pretty-print JSON output.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "0",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item metadata returned successfully. Structure depends on `type` parameter.",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": [
                                    {
                                        "name": "Knife",
                                        "relation": [
                                            "bayonet",
                                            "butterfly knife",
                                            "falchion knife",
                                            "flip knife",
                                            "gut knife",
                                            "huntsman knife",
                                            "karambit",
                                            "m9 bayonet"
                                        ]
                                    },
                                    {
                                        "name": "Gloves",
                                        "relation": [
                                            "bloodhound gloves",
                                            "driver gloves",
                                            "hand wraps",
                                            "hydra gloves",
                                            "moto gloves",
                                            "specialist gloves",
                                            "sport gloves"
                                        ]
                                    },
                                    {
                                        "name": "Rifle",
                                        "relation": [
                                            "ak-47",
                                            "aug",
                                            "famas",
                                            "galil ar",
                                            "m4a1-s",
                                            "m4a4",
                                            "sg 553"
                                        ]
                                    },
                                    {
                                        "name": "Sniper Rifle",
                                        "relation": [
                                            "awp",
                                            "g3sg1",
                                            "scar-20",
                                            "ssg 08"
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "Game not found.",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "error": "Game not found"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded. Please wait before making more requests."
                    }
                }
            }
        },
        "/steam/api/item": {
            "get": {
                "tags": [
                    "Items"
                ],
                "summary": "\ud83d\udce6 Retrieve Item Details with Pricing of all Markets and History",
                "description": "Baseurl: https://www.steamwebapi.com/steam/api/item?key=YOUR_API_KEY&market_hash_name=AK-47%20%7C%20Redline%20(Field-Tested)\n\n    \ud83d\udcac **What this endpoint does:**\n    - \ud83d\udd0d Retrieve details of a specific item using its `market_hash_name`, `slug`, or `hashId`.\n    - \ud83d\udcca Provides enriched details like:\n        - Pricing information.\n        - Tags and metadata.\n        - A brief price history.\n        - Retrive all variants of the item as groups if `with_groups` is set to `true`. For example, `AK-47 | Redline (Field-Tested)` will return all variants of the AK-47 | Redline.\n\n    \ud83d\ude80 **Why use this endpoint?**\n    - Focuses on a single item with detailed data for advanced use cases.\n    - Optimized for scenarios where precision matters, like market analytics or item tracking.\n\n    \u26a0\ufe0f **Note:** This endpoint is similar to `/steam/api/items`, but it focuses on a single item with enriched details.",
                "operationId": "get_api_market_hash_name",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Retrieve it from your Dashboard (top-right corner).",
                        "required": true
                    },
                    {
                        "name": "market_hash_name",
                        "in": "query",
                        "description": "Required. The `market_hash_name` of the item. Example: `AK-47 | Redline (Field-Tested)`.",
                        "required": true,
                        "example": "AK-47 | Redline (Field-Tested)"
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "Optional. The desired currency for price conversion (e.g., EUR, TRY, RUB, USD). Default is USD. See the Currency API for available codes.",
                        "required": false,
                        "example": "EUR"
                    },
                    {
                        "name": "with_groups",
                        "in": "query",
                        "description": "Optional. Set to `true` to retrieve all items variant of an item - stattrak, another wears, souvenirs (Its very good feature). Default is `false`.",
                        "required": false,
                        "example": false
                    },
                    {
                        "name": "production",
                        "in": "query",
                        "description": "If you run in production, please set this to 1. Default is 0. This is in future required, and if not set, you will get a warning.",
                        "required": false
                    },
                    {
                        "name": "markets",
                        "in": "query",
                        "description": "Filter prices to specific markets only (comma-separated). The `pricereal` will be calculated as the lowest price among the specified markets. Example: `skinbaron,skinport,dmarket`. Available markets: skinbaron, skinport, dmarket, buff, waxpeer, bitskins, csgotm, haloskins, tradeit, skinbid. Default: all markets.",
                        "required": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response format: json (default), csv, xml, html, gzip, zip, ndjson, mysql, mysql_with_table, pgsql, pgsql_with_table, mongo. Example: ?format=csv",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "json"
                        }
                    },
                    {
                        "name": "pretty",
                        "in": "query",
                        "description": "Pretty-print JSON (set to 1 for json/gzip/zip formats). Example: ?format=json&pretty=1",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "0",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful, and item details are returned.",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "id": "0bca2c79",
                                    "markethashname": "Revolution Case",
                                    "marketname": "Revolution Case",
                                    "slug": "revolution-case",
                                    "count": 1,
                                    "classid": "5189384637",
                                    "instanceid": "6541281615",
                                    "groupid": "000d377f063349223a0184c995732ac3",
                                    "infoprice": "These are Steam market prices and sold/offer data. priceupdatedat indicates the last update of Steam prices. Details can be found in the documentation. https://www.steamwebapi.com/api/doc",
                                    "pricelatest": 0.57,
                                    "pricelatestsell": 0.57,
                                    "pricelatestsell24h": 0.59,
                                    "pricelatestsell7d": 0.62,
                                    "pricelatestsell30d": 0.44,
                                    "pricelatestsell90d": 0.43,
                                    "lateststeamsellat": {
                                        "date": "2025-01-20 00:00:00.000000",
                                        "timezone_type": 3,
                                        "timezone": "UTC"
                                    },
                                    "pricemedian": 0.57,
                                    "pricemedian24h": 0.63,
                                    "pricemedian7d": 0.65,
                                    "pricemedian30d": 0.49,
                                    "pricemedian90d": 0.43,
                                    "priceavg": 0.57,
                                    "priceavg24h": 0.62,
                                    "priceavg7d": 0.65,
                                    "priceavg30d": 0.47,
                                    "priceavg90d": 0.42,
                                    "pricesafe": 0.47,
                                    "pricemin": 0.4,
                                    "pricemax": 0.64,
                                    "pricemix": 0.43,
                                    "buyorderprice": 0.55,
                                    "buyordermedian": 0.53,
                                    "buyorderavg": 0.53,
                                    "buyordervolume": 4838329,
                                    "offervolume": 80884,
                                    "soldtoday": 53715,
                                    "sold24h": 78980,
                                    "sold7d": 655603,
                                    "sold30d": 2737049,
                                    "sold90d": 7501044,
                                    "soldtotal": 57718768,
                                    "hourstosold": 1,
                                    "points": 755162,
                                    "priceupdatedat": {
                                        "date": "2025-01-20 19:53:31.000000",
                                        "timezone_type": 3,
                                        "timezone": "UTC"
                                    },
                                    "nametag": null,
                                    "bordercolor": "D2D2D2",
                                    "color": "b0c3d9",
                                    "quality": "Normal",
                                    "rarity": "Base Grade",
                                    "image": "https://community.cloudflare.steamstatic.com/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFQynaHMJT9B74-ywtjYxfOmMe_Vx28AucQj3brAoYrz3Fay_kY4MG_wdYeLMlhpLMaM-1U"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing `market_hash_name` parameter."
                    },
                    "404": {
                        "description": "Item not found. Ensure the `market_hash_name` is correct."
                    },
                    "429": {
                        "description": "Rate limit exceeded."
                    }
                }
            }
        },
        "/steam/api/info/steamid": {
            "get": {
                "tags": [
                    "Info"
                ],
                "summary": "\ud83d\udd04 Convert a SteamID into Multiple Formats",
                "description": "Baseurl: https://www.steamwebapi.com/steam/api/info/steamid?key=YOUR_API_KEY&steam_id=STEAM_ID\n\n    \ud83d\udcac **What this endpoint does:**\n    - Converts a SteamID into different formats:\n        - SteamID2.\n        - SteamID3.\n        - SteamID64.\n    - Returns the result as JSON.\n\n    \ud83d\udee0\ufe0f **Features:**\n    - Supports all major SteamID formats for conversion.\n    - Simple and efficient conversion for fast integration.\n\n    \ud83c\udf10 **How to use:**\n    - Provide a valid `steam_id` in any format (`SteamID2`, `SteamID3`, or `SteamID64`).\n    - Use your API key to authenticate the request.",
                "operationId": "get_api_steamid_converter",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Retrieve it from your Dashboard (top-right corner).",
                        "required": false
                    },
                    {
                        "name": "steam_id",
                        "in": "query",
                        "description": "The SteamID to convert. Accepted formats:\n    - `SteamID2`: e.g., `STEAM_0:0:553498XXX`.\n    - `SteamID3`: e.g., `[U:1:1106997XXX]`.\n    - `SteamID64`: e.g., `76561199067263XXX`.",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful, and the converted SteamID formats are returned."
                    },
                    "400": {
                        "description": "Missing or invalid `steam_id` parameter."
                    },
                    "404": {
                        "description": "The provided `steam_id` is invalid."
                    }
                }
            }
        },
        "/steam/api/history": {
            "get": {
                "tags": [
                    "Items"
                ],
                "summary": "\ud83d\udcc8 Price History of an Item with Daily Prices from Steam or Real Market Data",
                "description": "Baseurl: https://www.steamwebapi.com/steam/api/history?key=YOUR_API_KEY&market_hash_name=ITEM_NAME\n\n    \ud83d\udcac **What this endpoint does:**\n    - Retrieves the price history of an item based on specified parameters.\n    - \ud83d\uddd3\ufe0f Provides daily prices from Steam or real market prices if `markets` is passed as origin parameter.\n\n    \ud83d\udee0\ufe0f **Parameters:**\n    - **`key`**: Your API key located in the Dashboard (top-right corner).\n    - **`market_hash_name`**: The `market_hash_name` of the item (required).\n    - **`origin`**: Specify the data source. Default is `steamwebapi`. Use `markets` for real market price history or `direct` for direct Steam API access.\n    - **`interval`**: Interval for data retrieval in days. Default: `10`.\n    - **`start_date`**: Start date for data retrieval (format: YYYY-MM-DD).\n    - **`end_date`**: End date for data retrieval (format: YYYY-MM-DD).\n\n    \u26a1 **Important:**\n    - Use the `interval` parameter for optimized data queries.\n    - Specifying `markets` in `origin` results in slower responses but provides detailed real market data.\n    - Using `direct` origin provides direct access to Steam API data.",
                "operationId": "get_api_item_history",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Retrieve it from your Dashboard (top-right corner).",
                        "required": true
                    },
                    {
                        "name": "market_hash_name",
                        "in": "query",
                        "description": "The `market_hash_name` of the item. Example: \"AK-47 | Redline (Field-Tested)\".",
                        "required": true
                    },
                    {
                        "name": "origin",
                        "in": "query",
                        "description": "Specify the data source. Options: `steamwebapi` (default), `markets` for real market price history, or `direct` for direct Steam API access.",
                        "required": false,
                        "example": "steamwebapi"
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "description": "Specify the interval for data retrieval in days. Default is `10`.",
                        "required": false,
                        "example": 10
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Specify the start date for data retrieval. Format: `YYYY-MM-DD`.",
                        "required": false,
                        "example": "2024-01-01"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Specify the end date for data retrieval. Format: `YYYY-MM-DD`.",
                        "required": false,
                        "example": "2024-12-31"
                    },
                    {
                        "name": "production",
                        "in": "query",
                        "description": "If you run in production, please set this to 1. Default is 0. This is in future required, and if not set, you will get a warning.",
                        "required": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response format: json (default), csv, xml, html, gzip, zip, ndjson, mysql, mysql_with_table, pgsql, pgsql_with_table, mongo. Example: ?format=csv",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "json"
                        }
                    },
                    {
                        "name": "pretty",
                        "in": "query",
                        "description": "Pretty-print JSON (set to 1 for json/gzip/zip formats). Example: ?format=json&pretty=1",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "0",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful, and price history is returned.",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": [
                                    {
                                        "id": 4732517378,
                                        "createdat": "2022-11-15T00:00:00+00:00",
                                        "price": 1849.4,
                                        "sold": null
                                    },
                                    {
                                        "id": 4732517421,
                                        "createdat": "2020-04-09T00:00:00+00:00",
                                        "price": 1564.65,
                                        "sold": null
                                    },
                                    {
                                        "id": 4732517437,
                                        "createdat": "2020-02-29T00:00:00+00:00",
                                        "price": 1765.55,
                                        "sold": null
                                    },
                                    {
                                        "id": 4732517514,
                                        "createdat": "2019-04-15T00:00:00+00:00",
                                        "price": 1750,
                                        "sold": null
                                    },
                                    {
                                        "id": 4732517656,
                                        "createdat": "2018-05-30T00:00:00+00:00",
                                        "price": 1154.74,
                                        "sold": null
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid start or end date provided."
                    }
                }
            }
        },
        "/steam/api/cs/containers": {
            "get": {
                "tags": [
                    "Info"
                ],
                "summary": "\ud83c\udfaf Retrieve All CS2/CS:GO Containers and Collections",
                "description": "Baseurl: https://www.steamwebapi.com/steam/api/cs/containers\n\n    \ud83d\udcac **What this endpoint does:**\n    - Retrieves all containers and their collections from CS2/CS:GO.\n    - Provides a comprehensive list of cases, stickers, and other containers.\n\n    \ud83d\udee0\ufe0f **Features:**\n    - Supports filtering by container type (`all`, `sticker`, `case`, `package).\n    - Enables searching for specific cases using the `search` parameter.\n    - Results can be sorted by name, price, or release date.\n\n    \ud83c\udf10 **How to use:**\n    - Use the `type` parameter to specify the group of containers to fetch.\n    - Optionally, apply the `search` and `sortBy` parameters to refine your results.",
                "operationId": "get_api_steam_containers",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Retrieve it from your Dashboard (top-right corner).",
                        "required": false
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Show only this group of containers. Accepted values: `all`, `sticker`, `case`.",
                        "required": true
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search for a specific case or container by name.",
                        "required": false
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort the result by a specific criterion. Options:\n    - `nameAz`: Name ascending.\n    - `nameZa`: Name descending.\n    - `priceSteamAz`: Steam price ascending.\n    - `priceSteamZa`: Steam price descending.\n    - `priceRealAz`: Real market price ascending.\n    - `priceRealZa`: Real market price descending.\n    - `releasedatAz`: Release date ascending.\n    - `releasedatZa`: Release date descending.",
                        "required": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response format: json (default), csv, xml, html, gzip, zip, ndjson, mysql, mysql_with_table, pgsql, pgsql_with_table, mongo. Example: ?format=csv",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "json"
                        }
                    },
                    {
                        "name": "pretty",
                        "in": "query",
                        "description": "Pretty-print JSON (set to 1 for json/gzip/zip formats). Example: ?format=json&pretty=1",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "0",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful, and all containers are returned."
                    },
                    "400": {
                        "description": "Missing or invalid parameters."
                    }
                }
            }
        },
        "/steam/api/cs/collection/{slug}": {
            "get": {
                "tags": [
                    "Info"
                ],
                "summary": "\ud83c\udfaf Retrieve a CS2/CS:GO Collection or Case",
                "description": "Baseurl: https://www.steamwebapi.com/steam/api/cs/collection/{slug}\n\n    \ud83d\udcac **What this endpoint does:**\n    - Retrieves a list of all collections and their items (skins) from CS2/CS:GO.\n    - Provides detailed information about a specific collection or case.\n\n    \ud83d\udee0\ufe0f **Features:**\n    - Fetches all items (skins) belonging to a specific collection or case.\n    - Supports both CS2 and CS:GO collections.\n\n    \ud83c\udf10 **How to use:**\n    - Replace `{slug}` with the collection's unique identifier to fetch the desired data.",
                "operationId": "get_api_steam_collection_slug",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Retrieve it from your Dashboard (top-right corner).",
                        "required": true
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response format: json (default), csv, xml, html, gzip, zip, ndjson, mysql, mysql_with_table, pgsql, pgsql_with_table, mongo. Example: ?format=csv",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "json"
                        }
                    },
                    {
                        "name": "pretty",
                        "in": "query",
                        "description": "Pretty-print JSON (set to 1 for json/gzip/zip formats). Example: ?format=json&pretty=1",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "0",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful, and the collection data is returned."
                    },
                    "404": {
                        "description": "The specified collection or case was not found."
                    }
                }
            }
        },
        "/steam/api/cs/collections": {
            "get": {
                "tags": [
                    "Info"
                ],
                "summary": "\ud83c\udfaf Retrieve all cs2 collections with items",
                "description": "Base URL: https://www.steamwebapi.com/steam/api/cs/collections\n\n        \ud83d\udcac **What this endpoint does:**\n        - Retrieves a list of all CS2 and CS:GO collections.\n        - Each collection includes detailed information about its items (skins) and containers (cases/capsules).\n\n        \ud83d\udee0\ufe0f **Features:**\n        - Fetches all collections along with the associated skins.\n        - Removes duplicate items within a collection based on `groupid`.\n        - Includes container information (e.g., cases, souvenir packages).\n        - Supports both CS2 and CS:GO collections.\n\n        \ud83c\udf10 **How to use:**\n        - No body or path parameters needed.\n        - Simply call the endpoint with your `key` as a query parameter.\n\n        **Request URL Example:**\n        `https://www.steamwebapi.com/steam/api/cs/collections?key=YOUR_API_KEY`",
                "operationId": "get_api_cs_collections",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Retrieve it from your Dashboard (top-right corner).",
                        "required": true
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Select specific fields to return. Reduces response size and time. Example: \"name,logo\". Optional.",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit the number of results returned. Default is 10000.",
                        "required": false
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset for pagination. Default is 0.",
                        "required": false
                    },
                    {
                        "name": "no_cache",
                        "in": "query",
                        "description": "Set to 1 to bypass cache and fetch fresh data. Default is 0.",
                        "required": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response format: json (default), csv, xml, html, gzip, zip, ndjson, mysql, mysql_with_table, pgsql, pgsql_with_table, mongo. Example: ?format=csv",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "json"
                        }
                    },
                    {
                        "name": "pretty",
                        "in": "query",
                        "description": "Pretty-print JSON (set to 1 for json/gzip/zip formats). Example: ?format=json&pretty=1",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "0",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful, and all collections are returned."
                    },
                    "400": {
                        "description": "Missing or invalid parameters."
                    }
                }
            }
        },
        "/steam/api/info/markets": {
            "get": {
                "tags": [
                    "Info"
                ],
                "summary": "\ud83d\udcc8 Get Supported Market Information",
                "description": "Baseurl: https://www.steamwebapi.com/steam/api/info/markets\n\n    \ud83d\udcac **What this endpoint does:**\n    - Retrieves a list of all supported markets.\n    - Provides information including:\n        - \ud83d\uddbc\ufe0f Market logos.\n        - \ud83d\udcdb Market names.\n        - \ud83d\udcca Relevant market data.\n\n    \ud83d\udee0\ufe0f **Features:**\n    - Comprehensive data on supported markets for integration and analysis.\n    - Up-to-date market details with structured responses.\n\n    \ud83c\udf10 **How to use:**\n    - Use your API key to authenticate the request and access the data.",
                "operationId": "get_get_api_trends",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Retrieve it from your Dashboard (top-right corner).",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful, and market information is returned."
                    },
                    "429": {
                        "description": "Rate limit exceeded. Too many requests in a short time frame."
                    }
                }
            }
        },
        "/steam/api/float/assets": {
            "get": {
                "tags": [
                    "Float"
                ],
                "summary": "Retrieve CS assets with filters and pagination",
                "description": "Baseurl: https://www.steamwebapi.com/steam/api/float/assets?key=YOUR_API_KEY\n\n    \ud83d\udcac **What this endpoint does:**\n    - Returns over million CS assets (inventory- and market-related items) with flexible filter options.\n    - Supports powerful pagination for large result sets.\n\n    \ud83d\udee0\ufe0f **Features:**\n    - Filter by owner (SteamID64), weapon (def_index), skin (paint_index), float range, StatTrak, Souvenir, rarity, quality, origin and paint_seed.\n    - Filter by exact market hash name (market_hash_name).\n    - Filter only assets that belong to Steam profiles or only to market listings.\n    - Filter assets that have stickers and/or keychains.\n    - Paginated responses via limit and offset.\n\n    \ud83c\udf10 **How to use:**\n    - All query parameters use snake_case naming.\n    - Combine multiple filter parameters as needed (for example steam_id + def_index + min_float/max_float).\n    - Use offset for pagination (for example offset=50 for page 2 with limit=50).\n    - By default the endpoint returns a limited number of assets per request (configurable via the limit parameter).",
                "operationId": "get_api_assets",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication. Retrieve it from your Dashboard (top-right corner).",
                        "required": true
                    },
                    {
                        "name": "steam_id",
                        "in": "query",
                        "description": "Filter by SteamID64 of the owner, for example 76561198042843401.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "market_hash_name",
                        "in": "query",
                        "description": "Filter by exact market hash name, for example \"AK-47 | Uncharted (Factory New)\".",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "def_index",
                        "in": "query",
                        "description": "Filter by weapon definition index, for example 7 for AK-47.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "paint_index",
                        "in": "query",
                        "description": "Filter by paint index / skin ID, for example 836 for \"AK-47 | Uncharted\".",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "min_float",
                        "in": "query",
                        "description": "Minimum float value (wear) inclusive, for example 0.00 for Factory New range start.",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "max_float",
                        "in": "query",
                        "description": "Maximum float value (wear) inclusive, for example 0.07 for Factory New range end.",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "is_stattrak",
                        "in": "query",
                        "description": "Filter by StatTrak status (1 = StatTrak, 0 = non-StatTrak).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "is_souvenir",
                        "in": "query",
                        "description": "Filter by Souvenir status (1 = Souvenir, 0 = non-Souvenir).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "rarity",
                        "in": "query",
                        "description": "Filter by rarity tier. Typical values are in the range 1-6 (for example 6 = Covert).",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "quality",
                        "in": "query",
                        "description": "Filter by item quality, for example 4 = normal, 9 = rarity-specific.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "origin",
                        "in": "query",
                        "description": "Filter by origin such as drop, market-purchase or case-reward.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "paint_seed",
                        "in": "query",
                        "description": "Filter by exact paint seed / pattern number, for example 915.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Filter by calendar date when the asset was created. Accepts ISO dates (YYYY-MM-DD) or local format such as 31.12.2025.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2025-12-31"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort order. Supported values: newest, oldest, lowest_float, highest_float. Default is newest.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "newest",
                            "enum": [
                                "newest",
                                "oldest",
                                "lowest_float",
                                "highest_float"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return. Default is 10, upper limit depends on your plan.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset for pagination, for example 50 for page 2 when limit=50.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "only_steam_id",
                        "in": "query",
                        "description": "If set to 1, only assets with a SteamID64 owner are returned.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "only_market_id",
                        "in": "query",
                        "description": "If set to 1, only assets without a SteamID64 owner (market listings) are returned.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "with_stickers",
                        "in": "query",
                        "description": "If set to 1, only assets that have at least one sticker are returned.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "with_keychains",
                        "in": "query",
                        "description": "If set to 1, only assets that have at least one keychain are returned.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response format: json (default), csv, xml, html, gzip, zip, ndjson, mysql, mysql_with_table, pgsql, pgsql_with_table, mongo.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful and the assets are returned.",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "status": "success",
                                    "total": 5691,
                                    "limit": 50,
                                    "offset": 0,
                                    "count": 50,
                                    "sort": "newest",
                                    "credits_used": 5,
                                    "data": [
                                        {
                                            "id": "a8cfd9e5",
                                            "uniqueid": "83df714e",
                                            "assetid": "47898024607",
                                            "marketid": null,
                                            "steamid": "76561199018139024",
                                            "d": "14018652729485059991",
                                            "markethashname": "AK-47 | Uncharted (Factory New)",
                                            "defindex": 7,
                                            "quality": 9,
                                            "rarity": 3,
                                            "origin": 8,
                                            "isstattrak": 0,
                                            "issouvenir": 0,
                                            "wear": "fn",
                                            "float": 0.03422911092639,
                                            "paintindex": 836,
                                            "paintseed": 915,
                                            "phase": null,
                                            "stickers": [
                                                {
                                                    "defindex": 7268,
                                                    "markethashname": "Sticker | FaZe Clan (Holo) | Copenhagen 2024"
                                                }
                                            ],
                                            "keychains": [
                                                {
                                                    "pattern": 57977,
                                                    "defindex": 60,
                                                    "markethashname": "Charm | Lil' Chirp"
                                                }
                                            ],
                                            "prevassetid": null,
                                            "prevmarketid": null,
                                            "prevsteamid": null,
                                            "prevd": null,
                                            "prevstickers": [],
                                            "prevkeychains": [],
                                            "createdat": "2025-11-18 21:12:51",
                                            "updatedat": "2025-11-18 21:12:51",
                                            "createddate": "2025-11-18"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Rate limit exceeded (daily or monthly)."
                    }
                }
            }
        },
        "/steam/api/complete/items": {
            "get": {
                "tags": [
                    "Info"
                ],
                "summary": "\ud83d\udd0d Auto-Complete Game Items - e.g for using on Input fields (for free)",
                "description": "Baseurl: https://www.steamwebapi.com/steam/api/complete/items?search=SEARCH_TERM&game=cs2\n\n    \ud83d\udcac **What this endpoint does:**\n    - Provides real-time auto-completion for game items with search suggestions based on the input.\n    - Retrieves a list of items matching the search term, making it ideal for input auto-completes.\n    - Returns the **name and image URL** of each item to enhance the user experience.\n\n    \ud83d\udee0\ufe0f **Features:**\n    - \ud83d\udd0d Instantly retrieve search suggestions for game items with a minimum of 3 characters in the search term.\n    - \ud83c\udfae Supports filtering by game for more relevant results.\n    - \ud83d\uddbc\ufe0f Includes item **image URL** for a visual preview.\n    - \ud83d\udd11 No API key required for now, but in production, it is recommended to include your key for future compatibility.\n    - \ud83d\udcb0 This endpoint is currently free, but in the future, it will cost **1 request credit per 100 queries**, making it extremely affordable.\n\n    \u26a0\ufe0f **Note:** Future updates might require authentication, so ensure you are prepared for upcoming changes (just add your key).",
                "operationId": "get_api_complete_item",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Your API key for authentication (optional but recommended for production use).",
                        "required": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "The search term for auto-completion. Must be at least 3 characters long.",
                        "required": true
                    },
                    {
                        "name": "game",
                        "in": "query",
                        "description": "Optional. Short name of the game (e.g., \"cs2\", \"dota2\", \"rust\"). Default is \"cs2\".",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved auto-complete suggestions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "markethashname": {
                                                "type": "string",
                                                "example": "AK-47 | Redline (Field-Tested)"
[...]
